## .NET Core
bin/
obj/
*.user
*.userosscache
*.sln.docstates
*.suo
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rms/
[Aa]rm64/
build/
*.nupkg

# Rider / JetBrains
.idea/
*.sln.iml

# OS files
.DS_Store
Thumbs.db

# Docker
.dockerignore
